.wrapper{
 display: flex;
 height: 100vh;
 .left{
    background: #19191a;
    height: 100vh;
    width: 50%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
 }
 .right{
    padding: 150px;
    width: 50%;
    h2{
        color: #19191a;
        font-size: 32px;
 
    }
    form{
        margin-top: 30px;
        width: 100%;
        display: grid;
        gap: 20px;
    }
 }

}