.photosWrapper {
  column-count: 4;
  column-gap: 10px;

  .photo {
    break-inside: avoid;
    margin-bottom: 1em;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    padding: 5px;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); // soft shadow
    position: relative;
    overflow-y: visible;
    // &:hover {
    //   transform: translateY(-5px);
    //   box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    // }

    img {
      width: 100%;
      display: block;
      height: auto;
    }
    .top {
      position: absolute;
      top: 12px;
      width: 100%;
      display: flex;
      justify-content: right;
    }
    .dropdown {
      right: 16px;
      position: absolute;
      top: 16px;
      .dropdownContent {
        background: var(--white, #fff);
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.1);
        min-width: 166px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 16px;
        background-color: white;
        z-index: 1000;
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px 20px;
          gap: 10px;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .photosWrapper {
    column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .photosWrapper {
    column-count: 2;
  }
}

@media screen and (max-width: 480px) {
  .photosWrapper {
    column-count: 1;
  }
}
